.main {
    position: relative;
}

.fiok_beallitasok {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    right: 0;
    top: 1rem;
    cursor: pointer;
    height: fit-content;
    width: 7rem;
    background-color: #f9b17a;
    color: #2d3250;
    border-radius: 50px 0 0 50px;
    border: 2px solid var(--primary-color);
}

.fiok_kep {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0.5rem;
    cursor: pointer;
    border: 2px solid #2d3250;
}

.fiok_adatok {
    border: 2px solid white;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 280px;
    height: 400px;
    border-radius: 15px;
    background-color: #242d35;

}

.fiok_kep_nagy {
    border: none;
    width: 10rem;
    height: 10rem;
    border: 2px solid white;
    border-radius: 30rem;
    margin: 15px auto;
}

.fiok_nev_nagy {
    border: none;
    text-align: center;
    color: white;
    font-family: cursive;
    font-size: 2rem;
    border: none;
}

.fiok_adatok .adatok {
    border: none;
    height: 36%;
    position: relative;
}
.vissza{
    border: none;
    position: absolute;
    right: 10px;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.adatok .adatok_email,
.adatok .adatok_jelszo_valtoztatas,
.adatok .adatok_kijelentkzes,
.elrendezes {
    border: none;
    height: 2.5rem;
    color: white;
    text-align: center; 
    position: relative;
}

.adatok .adatok_jelszo_valtoztatas,
.adatok .adatok_kijelentkzes,
.elrendezes {
    cursor: pointer;
}
