.HABITS{
    padding: 0;
    margin: 0;
}

.habits-main{
    padding: 0;
    margin: 0;
    border-radius: 15px;

}
.habits-div{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 90%;

}

.habits-table{
    border: 1px solid cyan;
    grid-row: 1/3;
    height: calc(45vh - 10rem);

}

.habits-table table {
    border: #fff;
    color: #fff;
    height: fit-content;
    margin: auto;
}

.habits-table td,
.habits-table th {
    border: 1px solid #ddd;
    width: 2rem;
    height: 2rem;
    position: relative;
}

.habits-table th {
    background-color: #424769;
    color: #fff;
    padding: 1rem;
}

.habits-table th img{
    height: 2rem;
}

.habits-table input[type=text]{
    height: 1px;
    background-color: #00000000;
    border: none;
    color: white;
    float: left;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.habits-table input[type=text]:focus {
    outline: none;
}

.habits-table th:first-child, .habits-table th:last-child {
    width: 6rem;
    text-align: center;
}

.habits-table td:last-child{
    text-align: center;
}

.habits-goal-elso{
    border: 1px solid blueviolet;
    position: relative;
}

.habits-goal-masodik{
    border: 1px solid yellow;
}

.fitness-goal-fejlec{
    color: white;
    background-color: #424769;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
}

.fitness-goals{
    color: white;
    margin: auto;
    text-align: center;
    font-size: 1rem;
    height: calc(40vh - 10rem);
    overflow-y: scroll;
    overflow-x: hidden;
}

.habits-table > table  tr > td > input[type="checkbox"] {
    width: max-content;
    border-radius: 0;
    border: none;
    margin: auto;
    height: 20px;
    background-color: #00000000;
}


/*
.main-table td img {
    height: 100%;
    text-align: center;
    margin: auto;
    align-items: center;
    transform: translateX(50%);
}
*/