body {
    padding: 0;
    background-color: #222f36;
}

input[type="checkbox"] {
    appearance: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1em;
    height: 1em;
    border: none;
    background: #fff;
    border-radius: 0.25em;
    transform: translateY(-0.075em);
    place-content: center;
    display: grid;
}

input[type="checkbox"]::before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 10em 10em greenyellow;
}

input[type="checkbox"]:checked::before {
    transform: scale(1.4);
}

.main {
    position: relative;
    padding: 0;
}

.container {
    position: relative;
}

.main_felulet {
    position: relative;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
}

.fiok_deallitasok {
    position: absolute;
    right: 10px;
    top: 4rem;
}

.main_ES_minigame {
    height: 95vh;
    margin: 0;
    padding: 0;
}

.main .fejlec_kerekites {
    display: flex;
    height: 2rem;
    width: 8rem;
    top: 0;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 1.5rem;
    background-color: #fff;
    color: #2d3250;
    border-radius: 0 0 10px 10px;
    border: none;
    margin-top: 0;
    padding-top: 8px;
}

hr {
    width: 60%;
}

.hozzaad {
    display: flex;
    position: absolute;
    top: 5px;
    left: 5px;
    justify-content: center;
    align-items: center;
    align-self: auto;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #f9b17a;
    box-shadow: 0 0 20px #f9b17a;
    border: none;
    font-weight: bold;
    font-size: larger;

}

.rememberMe>input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

main {
    position: relative;

}

.fejlec_feladatok {
    padding-top: 0;
    position: relative;
    border-radius: 15px;
    border: 2px solid #fff;
    height: 100%;
}

.teendok_fejlec {
    border: none;
    position: relative;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 0;
}

.fejlec_kerekites {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 1.5rem;
    transform: translateX(-50%);
    background-color: #fff;
    color: #2d3250;
    font-size: clamp(1rem, 1vw, 2rem);
    border-radius: 0 0 10px 10px;
    border: none;
}

.fejlec_kerekites::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 25px;
    border-top-right-radius: 50%;
    background-color: transparent;
    box-shadow: 15px 0 0 0 #fff;
}

.fejlec_kerekites::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 25px;
    border-top-left-radius: 50%;
    background-color: transparent;
    box-shadow: -15px 0 0 0 #fff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #222f36;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}