table{
    border: #fff;
    color: #fff;
}

td, th{
    border: 1px solid #ddd;
    width: 2rem;
    position: relative;
}

th{
    background-color: #424769;
    color: #fff;
    padding: 1.3rem;
}

.elsoTH{
    position: relative;
    width: 10rem;
}
.elsoTH_szoveg{
    transform: translateY(20%);
}

.hozzaad_habitus{
    z-index: 1;
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 15px;
    right: -15px;
    background-color: #f9b17a;
    border: none;
    font-weight: bolder;
    color: black;
    border-radius: 1rem;
    cursor: pointer;
}
.hozzaad_habitus img{
    height: 20px;
    display: flex;
    transform: translate(-15%, -16%);
}

.eltavolit_megjelenit input{
    width: 70%;
}

.eltavolit_megjelenit:hover{
    .eltavolit_habitus{
        display: block;
    }
}

.eltavolit_habitus{
    display: none;
    z-index: 1;
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 50%;
    right: 3px;
    background-color: #f9897a;
    border: none;
    color: black;
    border-radius: 1rem;
    cursor: pointer;
    transform: translateY(-50%);
}

.eltavolit_habitus img{
    height: 20px;
    transform: translate(-17%, 0%);
    rotate: 45deg;
}


.tablazat_rutin{
    background-color: #dddddd00;
    border: none;
    border-bottom: 1px solid #fff;
    color:#fff;
    font-size: 1vw;
}

.tablazat_rutin:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
}

.napok {
    margin-bottom: 2rem;
    height: fit-content;
    border: none;
}

.het {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid red;
    height: fit-content;
}

.napi_fejlec {
    text-align: center;
    background-color: #424769;
    color: white;
    border-radius: 5px 5px 0 0;
    border: none;
}

.napi_feladatok {
    border: none;
    display: grid;
    border-left: 2px solid #424769;
    grid-template-columns: 1fr 9fr;
}

.napi_feladatok > input[type=text]{
    color: #fff;
    background-color: #ffffff00;
    border: none;
    height: 1px;
    font-size: 0.8vw;
}
.napi_feladatok > input[type=text]:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid #74747479;
}
.napi_feladatok > input[type=text]::placeholder{
    color: #fff;
    height: 10px;
}
   
.kovetkezo_het {
    grid-column: 3/5;
}

.menuicon{
    height: 2rem;
    margin-left: 2rem;
    position: absolute;
    top: 0px;
    left: -33px;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 10px 0 10px 0;
    display: none;
    cursor: pointer;
}

.menuicon_div{
    display: none;
    cursor: pointer;
}

.menuicon_div::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 37px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background-color: transparent;
    box-shadow: 15px 0 0 0 #fff;
    transform: rotateY(190deg); 
}

.menuicon_div::after {
    content: "";
    position: absolute;
    top: 42px;
    left: -5px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background-color: transparent;
    box-shadow: 0 -15px 0 0 #fff;
    z-index: -1;
}

.oldalsav {
    border: none;
    position: relative;
    border: 2px solid #fff;
    border-radius: 15px;
    margin-right: 2rem;
}

.oldalsav .nav-item {
    position: relative;
    border: 2px solid white;
    color: #fff;
    margin-top: 1.5rem;
    padding: 2rem;
    border: none;
    border-radius: 15px;
}

.oldalsav .home {
    margin-top: 4rem;
}

.oldalsav .nav-item:hover {
    background-color: #42424272;
    color: white;
    outline: none;
    cursor: pointer;
}

.oldalsav .nav-item:focus {
    border-left: 2px solid #f9b17a;
    color: white;
    outline: none;
    box-shadow: -20px 0 20px -10px #f9b17a;
}


.teendok {
    overflow-y: scroll;
    overflow-x: hidden;
    height:fit-content;
    border: 1px solid green;
}

.teendo_nev {
    position: relative;
    display: grid;
    grid-template-columns: 0.2fr 4fr 0.5fr;
    padding: 0;
    border: 1px solid #fff;
    color: #fff;
}

.lenyito_gomb {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid #fff;
}

.lenyito_gomb>img {
    position: relative;
    margin: auto;

    transform: rotate(90deg);
    height: 3rem;
    border: 1px solid #fff;
}

.teendo_nev>h4 {
    display: flex;
    align-items: center;
    text-align: center;
}

.teendo_adatok {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border: 1px solid white;
}

.teendo_nev>.edit_mode {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
}

.edit_mode>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 60%;
    right: 0;
    height: 1rem;
}

.edit_mode,
.lenyito_gomb {
    border: none;
}

.teendo_adatok {
    margin: 0 1rem;
}

.teendo_adatok>div {
    text-align: center;
}

.teendo_adatok .teendo_leiras {
    text-align: left;
    grid-area: 1 / 1 / 3 / 2;
    height: 5rem;
}



@media screen and (max-width: 768px) {
    .main_felulet {
        grid-template-columns: 1fr 5fr;
    }

    .het {
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .kovetkezo_het {
        grid-column: 1/2;
    }

    .menuicon{
        display: block;
    }
    .menuicon_div{
        display: block;
    }
    .menuszoveg{
        display: none;
    }
    .oldalsav{
        display: none;
        top: 12px;
        left: 58px;
        position: absolute;
        z-index: 1;
        background-color: #424769;
    }
    .main_felulet {
        position: relative;
        grid-template-columns: 1fr;
    }

    .teendok{
        position: relative;
        height:90%;
    }
 
    .main{
        position: relative;
        height: 45%;
    }
}